<h1>Welcome {{username}}</h1>
<form method="get" action="/room/123">
    <button>Play game</button>
</form>

<form method="post" action="/logout" style="margin-top: 10px">
    <button>Logout</button>
</form>

